{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "array-bracket-spacing": [
            2,
            "never"
        ],
        "arrow-parens": [
            2,
            "as-needed"
        ],
        "arrow-spacing": [
            2
        ],
        "brace-style": [
            0,
            "1tbs",
            {
                "allowSingleLine": true
            }
        ],
        "comma-dangle": [
            0,
            "always-multiline"
        ],
        "comma-spacing": [
            2
        ],
        "comma-style": [
            2,
            "last"
        ],
        "computed-property-spacing": [
            2,
            "never"
        ],
        "eol-last": [
            0
        ],
        "flowtype/object-type-delimiter": [
            0,
            "comma"
        ],
        "indent": [
            0
        ],
        "max-len": [
            0,
            {
                "code": 80,
                "ignorePattern": "maxLenIgnorePattern",
                "ignoreUrls": true
            }
        ],
        "no-const-assign": [
            2
        ],
        "no-extra-parens": [
            2,
            "functions"
        ],
        "no-irregular-whitespace": [
            2
        ],
        "no-this-before-super": [
            2
        ],
        "no-var": [
            2
        ],
        "object-curly-spacing": [
            0,
            "never"
        ],
        "object-shorthand": [
            0
        ],
        "prefer-arrow-callback": [
            2
        ],
        "prefer-const": [
            2
        ],
        "quotes": [
            0,
            "single",
            {
                "allowTemplateLiterals": true,
                "avoidEscape": true
            }
        ],
        "semi": [
            2,
            "always"
        ],
        "sort-keys": [
            0
        ],
        "space-before-blocks": [
            2
        ],
        "space-before-function-paren": [
            2,
            {
                "anonymous": "never",
                "asyncArrow": "always",
                "named": "never"
            }
        ],
        "space-in-parens": [
            2,
            "never"
        ]
    }
}